# OpenPanel
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=<your-openpanel-client-id>
OPENPANEL_SECRET=<your-openpanel-secret>

# Github Token
GITHUB_TOKEN=<your-github-token>

# Wandry
WANDRY_ANALYTICS_TOKEN=<your-wandry-analytics-token>
